.india-map-section {
  width: 100%;
  display: flex;
  gap: 28px;
  margin-top: 60px;
  padding: 0 70px;
}

/* LEFT BOX */
.map-box {
  flex: 1.3;
  padding: 28px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.india-map-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: 0.35s ease;
}

.india-map-img:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 22px rgba(0, 199, 255, 0.6));
}

/* RIGHT INFO */
.side-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0.7;
}

.mini-card {
  padding: 22px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.section-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 18px;
  color: #1f2937;
}
